<md-bottom-sheet class="md-list md-has-header">

    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
        Файл <span class="name">{{ fp.file.name }}</span>{{ fp.file.content }}
    </div>
	<md-button ng-click="fp.cancel(item)" id="item_{{$index}}">
            Выход
        </md-button>
</md-bottom-sheet>
