<md-bottom-sheet class="md-list md-has-header"

    <md-subheader>
        <h2>История</h2>
    </md-subheader>

    <md-list>
	<md-item ng-repeat="item in hs.actions">
		<h3>{{item.hist}}:{{item.date}}</h3>
	</md-item>
	<md-button ng-click="hs.cancel(item)" id="item_{{$index}}">
            Выход
        </md-button>
    </md-list>

</md-bottom-sheet>
