<md-bottom-sheet class="md-list md-has-header"

    <md-subheader>
        <h2>Язык</h2>
    </md-subheader>

    <md-list>
<h1>{{'HEADLINE' | translate}}</h1>
	<md-button ng-click="ln.changeLanguage('ru')" translate="BUTTON_TEXT_RU">
             Русский
        </md-button>
	<md-button ng-click="ln.changeLanguage('en')" translate="BUTTON_TEXT_EN">
            English
        </md-button>
	<md-button ng-click="ln.cancel(item)" id="item_{{$index}}">
            Отменить
        </md-button>
    </md-list>

</md-bottom-sheet>
