<md-bottom-sheet class="md-list md-has-header"

    <md-subheader>
        <h2>Профиль</h2>
    </md-subheader>

    <md-list>
      <md-item ng-repeat="item in pp.actions">
            <md-icon md-svg-icon="{{ item.icon_url }}"></md-icon>
            <h2>Имя пользователя:</h2>
	<md-input-container>
	 		<p><input value={{item.surname}}></p>
	</md-input-container>
	<h2>Фамилия пользователя:</h2>
	<md-input-container>
		 <p><input value={{item.surname}}></p>
	</md-input-container>
	<h2>Электронная почта:</h2>
	<md-input-container>
		 <p><input type="email" value={{item.email}}></p>
	</md-input-container>
		<md-button ng-click="" id="item_{{$index}}">
		    Сохранить
		</md-button>
		<md-button ng-click="pp.cancel(item)" id="item_{{$index}}">
		    Отменить
		</md-button>
      </md-item>
    </md-list>

</md-bottom-sheet>
