<md-bottom-sheet class="md-list md-has-header"

    <md-subheader>
        <h2>Управление заявками</h2>
    </md-subheader>

    <md-list>
            <table border="1">
		<tr>
			<td>Номер</td>
			<td>Дата</td>
			<td>Пользователь</td>
			<td>Статус</td>
		</tr>
		<tr ng-repeat="item in rq.actions">
			<td>{{item.request}}</td>
			<td> {{item.date}}</td>
			<td>{{item.user}}</td>
			<td>{{item.status}}</td>
		</tr>
	</table>
	<md-button ng-click="rq.cancel(item)" id="item_{{$index}}">
           Выход
        </md-button>
    </md-list>

</md-bottom-sheet>
