<md-bottom-sheet class="md-list md-has-header"

    <md-subheader>
        <h2>Безопасность</h2>
    </md-subheader>

    <md-list>
      <md-item ng-repeat="item in sf.actions">
            <md-icon md-svg-icon="{{ item.icon_url }}"></md-icon>
            <h2>Имя пользователя:</h2>
 		<h3>{{item.name}}</h3>
	<h2>Фамилия пользователя:</h2>
	 <h3>{{item.surname}}</h3>
	<h2>Пароль:</h2>
	<md-input-container>
		 <p><input type="password" value={{item.password}}></p>
	</md-input-container>
	<h2>Подтвердите пароль:</h2>
	<md-input-container>
		 <p><input type="password" value=""></p>
	</md-input-container>
	<md-button ng-click="" id="item_{{$index}}">
            Сохранить
        </md-button>
	<md-button ng-click="sf.cancel(item)" id="item_{{$index}}">
            Отменить
        </md-button>
      </md-item>
    </md-list>

</md-bottom-sheet>
