<md-bottom-sheet class="md-list md-has-header"

    <md-subheader>
        <h2>Поиск </h2>
    </md-subheader>

    <md-list layout="column" flex>
	 <div ng-repeat="it in ss.files|filter:query">
		<p>{{it.content}}</p>
		<hr>
	</div>
    </md-list>

</md-bottom-sheet>
