<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wisefox</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel='stylesheet' type="text/css" href="bower_components/roboto-fontface/css/roboto-fontface.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material-data-table/dist/md-data-table.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/app.css" />
  </head>
  <body ng-app="starterApp" layout="row" ng-controller="FileController as fl" ng-cloak>
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      ng-click="fl.toggleList()" aria-label="Показать меню"
      md-is-locked-open="$mdMedia('gt-sm')">

      <md-toolbar class="md-whiteframe-z1">
        <h3>Меню</h3>
      </md-toolbar>

      <md-list layout="column" flex>
        <p>Учетная запись</p>
        <md-button ng-click="fl.selectOpt()">
          <md-icon md-svg-icon="assets/svg/avatar-1.svg" class="avatar"></md-icon>
          Профиль
        </md-button>
        <md-button ng-click="fl.selectSaf()">
          Безопасность
        </md-button>
        <md-button ng-click="fl.selectLang()">
          Язык
        </md-button>
        <md-button ng-click="fl.selectHist()">
          История
        </md-button>
        <p>Файлы</p>
        <md-button ng-click="fl.selectLoad()">
          Загруженные
        </md-button>
        <md-button ng-click="fl.selectTop()">
          Избранные
        </md-button>
        <md-button ng-click="fl.selectOpen()">
          С открытым доступом
        </md-button>
      </md-list>
    </md-sidenav>
    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
      <md-toolbar layout="row" class="md-whiteframe-z1">
        <md-button id="main" class="menu" hide-gt-sm ng-click="fl.toggleList()" aria-label="Показать меню">
          <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h3>Wisefox</h3>
        <md-input-container>
          <md-select ng-model="someModel" placeholder="Поиск">
            <md-option value="Manage">
              <md-button ng-click="">Поиск в моих файлах</md-button>
            </md-option>
            <md-option value="Registration">Поиск в общем пуле</md-option>
            <md-option value="Users">Поиск по избранным файлам</md-option>
            <md-option value="Files">Поиск по файлам с открытым доступом</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <input ng-model="query" placeholder="Найти" />
        </md-input-container>
        <md-button ng-click="fl.selectSearch(query)">Найти
        </md-button>
        <md-input-container>
          <md-select ng-model="someModel1" placeholder="Управление">
            <md-option value="Manage" ng-click="fl.selectReq()">Управление заявками</md-option>
            <md-option value="Registration" ng-click="fl.selectReq()">Управление приглашениями на регистрацию</md-option>
            <md-option value="Users">Управление учетными записями</md-option>
            <md-option value="Files">Управление файлами</md-option>
          </md-select>
        </md-input-container>
      </md-toolbar>
      <md-content flex id="content" >
        <p>Путь/путь1/</p>
        <md-table-container>
          <table md-table md-progress="promise">
            <tbody md-body>
              <tr md-row>
                <td md-cell>
                  <md-button ng-click="fl.selectDel()">
                    <md-icon class=""></md-icon>
                  </md-button>
                </td>
                <td md-cell>
                  <md-input-container>
                    <input type="file" name="uploadfile" />
                  </md-input-container>
                </td>
                <td md-cell>
                  <md-checkbox ng-model="isChecked">Общий доступ</md-checkbox>
                </td>
              </tr>
            </tbody md-body>
          </table>
        </md-table-container>
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        <md-button ng-click="fl.selectCheck()">
          Добавить файл
        </md-button >
        <md-button ng-click="fl.selectUpload()">
          Загрузить
        </md-button>
        <md-button ng-click="fl.selectCencel()">
          Отменить
        </md-button>
        <hr />
        <h2>Загруженные файлы</h2>
        <md-table-container>
          <table md-table md-progress="promise">
            <thead md-head>
              <tr md-row>
                <th md-column>Название</th>
                <th md-column>Расширение</th>
                <th md-column>Тип</th>
                <th md-column>Размер</th>
                <th md-column>Изменен</th>
              </tr>
            </thead>
            <tbody md-body>

              <tr md-row ng-repeat="it in fl.files|filter:query">
                <td md-cell>
                  <md-button ng-click="fl.selectFile(it)" ng-class="{'selected' : it === fl.selected }">
                    {{it.name}}
                  </md-button>
                </td>
                <td md-cell>{{it.type}}</td>
                <td md-cell>{{it.view}}</td>
                <td md-cell>{{it.size}}</td>
                <td md-cell>{{it.date}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </md-content>

    </div>

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>

    <script type="text/javascript" src="src/controllers.js"></script>
    <script type="text/javascript" src="src/users/Files.js"></script>
    <script type="text/javascript" src="src/users/FileController.js"></script>
    <script type="text/javascript" src="src/users/FileService.js"></script>

    <script type="text/javascript">

      angular
      .module('starterApp', ['ngMaterial', 'files'])
      .config(function($mdThemingProvider, $mdIconProvider){

      $mdIconProvider
      .defaultIconSet("./assets/svg/avatars.svg", 128)
      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
      .icon("share"      , "./assets/svg/share.svg"       , 24)
      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

      $mdThemingProvider.theme('default')
      .primaryPalette('brown')
      .accentPalette('red');

      });

    </script>

  </body>
</html>
